/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-class-pattern */
.m-datatable {
  thead {
    tr {
      th {
        position: relative;


      }
    }
  }

  .sorting,
  .sorting_asc,
  .sorting_desc,
  .sorting_asc_disabled,
  .sorting_desc_disabled {

    //position:relative;

    cursor: pointer;
    background-image: none;

    @if $sorting-arrow-size {
      padding: $sorting-arrow-cell-padding !important;

      &::before, &::after {
        position: absolute;
        right:.4em !important;
        display: block;
        width: 0;
        height: 0;
        content: '' !important;
        border-color: transparent;
        border-width: $sorting-arrow-size;
      }

      &::before {
        bottom: calc(#{$sorting-arrow-bottom } + 1px + #{$sorting-arrow-size}) !important;
        border-style: none solid solid;
        border-bottom-color: $datatable-sorting-arrows-color;
      }
      &::after {
        bottom: calc(#{$sorting-arrow-bottom} - #{$sorting-arrow-size}) !important;
        border-style: solid solid none;
        border-top-color: $datatable-sorting-arrows-color;
      }

    } @else {
      padding: $sorting-arrow-cell-base-padding;
    }
  }

  .sorting_asc,
  .sorting_desc,
  .sorting:hover {
    @if $datatable_active_sorting_color {
      color: $datatable_active_sorting_color !important;
    }
    @if $datatable-active-sorting-bg {
      background: $datatable-active-sorting-bg !important;
    }
    background-clip: padding-box !important;

    @if $datatable-active-sorting-border-bottom {
      border-bottom: $datatable-active-sorting-border-bottom;
    }

    @if ($sorting-arrow-size and $datatable_active_sorting_color) {

      &::before {
        border-bottom-color: $datatable_active_sorting_color;
      }

      &::after {
        border-top-color: $datatable_active_sorting_color;
      }
    }
  }
}
